<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Tableau de Bord - Registre Entreprise</title>
  <link rel="stylesheet" href ="{{ url_for('static', filename='css/style.css') }}">
  </head>
<body>
  <header>
    <nav>
      <a href="/"> Accueil</a>
      <a href ="/dashboard"> Tableau de Bord</a>
      <a href ="/favoris"> Favoris</a>
      </nav>
      </header>

      <main>
        <h1> Mon Tableau de Bord</h1>
        <div class="stats-grid">
        <div class="stat-card">
          <h2>{{ nb_favoris }}</h2>
          <p>Entreprises en Favoris</p>
        </div>

        <div class="stat-card">
          <h2>{{ nb_recherches }}</h2>
          <p>Recherches effectuées</p>
        </div>
        </div>

        <h2> Recherches récentes</h2>
        <ul>
          {% for r in recherches %}
          <li>{{ r.terme_recherche }} - {{ r.date_recherche.strftime('%d/%m/%Y %H:%M') }}</li>
          {% endfor %}
        </ul>
      </main>
</body>
</html>